# Tuples
![](https://scaler.com/topics/images/tuples-in-python.webp)

- Tuples are used to hold together multiple objects. Think of them as similar to lists, but without the extensive functionality that the list class gives you.
- One major feature of tuples is that they are **immutable** like strings i.e. you cannot modify tuples.
- Tuples are defined by specifying items separated by commas within an optional pair of parentheses.
- Tuples are usually used in cases where a statement or a user-defined function can safely assume that the collection of values i.e. the tuple of values used will **not change**.

In [1]:
# ISRO
planets = [
    "Mercury",
    "Venus",
    "Earth",
    "Mars",
    "Jupiter",
    "Saturn",
    "Uranus",
    "Neptune",
    "Pluto"
]

In [2]:
print(planets)

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto']

In [3]:
# Intern at ISRO
planets[2] = "My planet"
print(planets)

['Mercury', 'Venus', 'My planet', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto']

In [ ]:
# Mutable - Something that can be changed / modified
# Eg - lists

# Immutable - Something that cannot be changed / modified
# Eg - tuple

In [4]:
planets = (
    "Mercury",
    "Venus",
    "Earth",
    "Mars",
    "Jupiter",
    "Saturn",
    "Uranus",
    "Neptune",
    "Pluto"
)

print(planets, type(planets))

('Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto') <class 'tuple'>

In [5]:
# Intern at ISRO
planets[2] = "My planet"
print(planets)

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Reading data is allowed

In [6]:
print(planets[2])

Earth

In [7]:
print(planets[-1])

Pluto

In [8]:
print(planets(2))

TypeError: 'tuple' object is not callable

### Important Tuple methods
- index()
- count()
- slicing

In [9]:
t = (2, 3, 'hello', [5, 10], (9, 0.5, 'ok'), True)
print(t)

(2, 3, 'hello', [5, 10], (9, 0.5, 'ok'), True)

In [10]:
# Find the index of 3 in the tuple
print(t.index(3))

1

In [11]:
t = (2, 2, 5, 6, 2, 5, 3, 9)

In [12]:
# Count occurences of 2
print(t.count(2))

3

In [13]:
print(t.count(5))

2

In [14]:
# Tuple Slicing
# Takes a portion of your tuple and returns a new tuple

In [16]:
t = (10, 20, 30, 40, 50, 60)
print(t[2:])
# new tuple

(30, 40, 50, 60)

In [17]:
print(t)

(10, 20, 30, 40, 50, 60)

In [18]:
print(t[::-1])

(60, 50, 40, 30, 20, 10)

### How to create a tuple
1. Using round brackets
2. Using tuple()
3. Using comma separated values

In [19]:
t = (10, 20, 30)
print(t)

(10, 20, 30)

In [20]:
# Only one single value inside the round brackets is not considered a tuple
t = (10) # t = 10
print(t, type(t))

10 <class 'int'>

In [21]:
# If you want to create a tuple of one item, put a traling comma at the end
t = (10,)
print(t, type(t))

(10,) <class 'tuple'>

In [22]:
t = (10, 20,)
print(t)

(10, 20)

In [24]:
t = ()
print(t, type(t))

() <class 'tuple'>

In [23]:
# Empty tuple
t = tuple()
print(t, type(t))

() <class 'tuple'>

In [26]:
l = ["Hello", "How", "Are", "You"]
t = tuple(l)
print(t, type(t))

('Hello', 'How', 'Are', 'You') <class 'tuple'>

In [27]:
print(l)

['Hello', 'How', 'Are', 'You']

In [28]:
t = tuple("abcd")
print(t)

('a', 'b', 'c', 'd')

In [29]:
t = 10, 20, 30
print(t, type(t))

(10, 20, 30) <class 'tuple'>

In [30]:
# Single element tuple
t = 10,
print(t, type(t))

(10,) <class 'tuple'>

In [31]:
# int
t = 10
print(t, type(t))

10 <class 'int'>

#### Quiz 1
```py
t = ("Sahil")
type(t)
```

In [32]:
t = ("Sahil") # t = "Sahil"
print(type(t))

<class 'str'>

In [33]:
t = ("Sahil",)
print(type(t))

<class 'tuple'>

#### Quiz 2
What is the output of the following?

```py
print(type((1,2,3)))
```

In [34]:
print(type((1,2,3)))

<class 'tuple'>

In [35]:
t = (1,2,3)
print(type(t))

<class 'tuple'>

#### Quiz 3
```py
T1 = (1) 
T2 = (3, 4) 
T1 += 5
print(T1)
```

In [36]:
T1 = (1) 
T2 = (3, 4) # useless statement
T1 += 5
print(T1)

6

In [ ]:
# T1 = 1
# T1 += 5
# T1 = 6

#### Quiz 4
```py
t=tuple(range(1, 10, 2))
print(t)
```

In [37]:
t = tuple(range(1, 10, 2))
print(t)

(1, 3, 5, 7, 9)

#### Quiz 5
What is the result of the following expression?

```py
tuple('hello world')
```

In [38]:
print(tuple('hello world'))

('h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd')

In [39]:
print(list('hello world'))

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

#### Quiz 6
```py
t = (3, 4, 6, 7, 3)
print(t[::2])
```

In [40]:
t = (3, 4, 6, 7, 3)
print(t[::2])

(3, 6, 3)

In [43]:
t= ("hi",) # ("hi",) - tuple of one item - "hi"
print(t)

t1=tuple("hi") # - tuple of two items - 'h', 'i'
print(t1)

t2 = ("hi") # string 'hi'
print(t2, type(t2))

('hi',)
('h', 'i')
hi <class 'str'>

In [44]:
t = tuple(str("hi"))
print(t)

('h', 'i')

### Tuples vs Lists

- Performance (Speed and memory) : Tuples tend to be much faster than lists
- Functionality : If you expect any changes to the data, then go with lists. If you are not sure about the changes, go with lists to be safe.

In [46]:
t = (1, 2, 3, 4)
t2 = t
t = 10
print(t, t2)

10 (1, 2, 3, 4)

In [48]:
t = (1, 2, 3)
t2 = (4, 5, 6)

t = t + t2
print(t)

(1, 2, 3, 4, 5, 6)

## Bonus Reading Material for Tuples
- Data Structures in Python - https://www.scaler.com/topics/data-structures-in-python/
- Tuples in Python - https://www.scaler.com/topics/python/tuples-in-python/
- What is the Difference Between List and Tuple in Python? - https://www.scaler.com/topics/difference-between-list-and-tuple-in-python/
- Convert List to Tuple in Python - https://www.scaler.com/topics/convert-list-to-tuple-python/
- WtfPython: Mutating the immutable! - https://github.com/satwikkansal/wtfpython#-mutating-the-immutable
- WtfPython: Needles in a Haystack - https://github.com/satwikkansal/wtfpython#-needles-in-a-haystack-

# Strings
![](https://scaler.com/topics/images/characters-of-a-string-in-python-1024x483.webp)

In [49]:
s = "hello world"
print(s, type(s))

hello world <class 'str'>

In [50]:
t = 'welcome how are you'
print(t, type(t))

welcome how are you <class 'str'>

### Multiline String
![](https://scaler.com/topics/images/python-multiline-string.webp)

In [51]:
# Triple quotes
s = '''
This is 
a very
paragraph
'''
print(s, type(s))

This is
a very
paragraph
 <class 'str'>

### Length
<img src="https://scaler.com/topics/images/length-of-an-array-in-c_thumbnail.webp" width="350px" />

In [52]:
s = "hello world"
print(len(s))

11

In [53]:
s = "   "
print(len(s))

3

### Indexing

In [54]:
s = "abcdef"
print(s[1])

b

In [55]:
print(s[-1])

f

In [57]:
s = "a  bc%+" # 2 spaces in between
print(s[2]) # space
print(len(s))

7

In [58]:
s = "abcd"
print(s[10])

IndexError: string index out of range

#### Quiz 7
Which of the following is a valid string?  
a) "Rahul#'  
b) "@rahul"  
c) 'Tuna123"

In [59]:
a = "Rahul#'

SyntaxError: EOL while scanning string literal (4048244430.py, line 1)

In [60]:
b = "@rahul"

In [61]:
c = 'Tuna123"

SyntaxError: EOL while scanning string literal (1677780572.py, line 1)

#### Quiz 8
```py
print(100 == "100")
```

In [62]:
print(100 == "100")

False

In [ ]:
# int == str

#### Quiz 9
```py
l = ["sahil", "bansal"]

print(l[0][-1])
```

In [63]:
l = ["sahil", "bansal"]

print(l[0][-1])

l

In [ ]:
# l[0] => "sahil"
# "sahil"[-1] => 'l'

### Nature of strings
Python Strings are immutable

In [65]:
s = 'hello'
s[2] = 'a'
print(s)

TypeError: 'str' object does not support item assignment

In [66]:
a = 'hello'
b = 'world'

a = a + b
# Creates a new string
print(a)

helloworld

In [67]:
a = 'hello'
a = 'newname'
# reassigning variable to another string
print(a)

newname

### Iterating over a string

##### Question
Given a string, print its characters line by line. \
S = "PYTHON" 

Output:
```
P
Y
T
H
O
N
```

In [68]:
s = "PYTHON"

# Strings are also iterable
for ch in s:
    print(ch)

P
Y
T
H
O
N

In [69]:
s = "PYTHON"

# Strings are also iterable
for ch in s:
    print(ch, end=' ')

P Y T H O N

## String Concatenation
![](https://scaler.com/topics/images/string-concatenation-in-python.webp)

In [71]:
first = 'Tarun'
last = 'Luthra'

fullname = first + ' ' + last
print(fullname)

Tarun Luthra

In [72]:
a = "hello" * 2
print(a)

hellohello

In [73]:
b = 'ok' * 5
print(b)

okokokokok

#### Quiz 10
What will be printed by the following code when it executes?

```py
city = "Phoenix"
print(len(city*3))
```

In [76]:
city = "Phoenix"
print(len(city*3))

21

In [75]:
city = "Phoenix"
print(city*3)
print(len(city))

PhoenixPhoenixPhoenix
7

## String slicing

In [77]:
s = "abcdef"
print(s[1:3])

bc

In [78]:
print(s[4::-1])

edcba

In [79]:
print(s[:5:2])

ace

#### Quiz 11
What is the return value of the function callÂ `mystery("abracadabra")`?  
  

```py
def mystery(s):
  i = len(s)//2
  a = s[:i]
  b = s[i:]
  return a+ b
```

In [81]:
def mystery(s):
    i = len(s) // 2
    a = s[:i]
    b = s[i:]
    return a + b

In [82]:
print(mystery("abracadabra"))

abracadabra

In [ ]:
# i = len(s) // 2 = 11 // 2 = 5
# a = s[:5] = abrac
# b = s[5:] = adabra
# a + b = abrac + adabra

In [83]:
s = "abcdef"
print(s[::-1])

fedcba

### Check Palindrome
Given a string, check if it is Palindromic

In [84]:
def checkPalindome(s):
    return s == s[::-1]

In [85]:
print(checkPalindome("level"))

True

In [86]:
print(checkPalindome("radar"))

True

In [87]:
print(checkPalindome("tarun"))

False

In [88]:
print(checkPalindome("naman"))

True

In [89]:
print(checkPalindome("Naman"))

False

In [ ]:
# Naman => namaN

## Working with ASCII Values
<img src="https://scaler.com/topics/images/ascii-values-in-c-thumbnail.webp" width="400px" />

### ord()
![](https://scaler.com/topics/images/ord-in-python.webp)

In [90]:
print(ord('A'))

65

In [91]:
print(ord(','))

44

In [92]:
print(ord('z'))

122

### chr()
![](https://scaler.com/topics/images/chr-in-python.webp)

In [93]:
print(chr(65))

A

In [94]:
print(chr(98))

b

In [95]:
print(chr(50)) # '2'

2

# Bonus Reading Material
- Strings in Python - https://www.scaler.com/topics/python/strings-in-python/
- What is String in Python? - https://www.scaler.com/topics/what-is-string-in-python/
- Python Multiline String - https://www.scaler.com/topics/python-multiline-string/
- str() in Python - https://www.scaler.com/topics/str-in-python/
- String Concatenation in Python - https://www.scaler.com/topics/string-concatenation-in-python/
- String Slicing in Python - https://www.scaler.com/topics/python/string-slicing-in-python/
- What are Mutable Data Types in Python? - https://www.scaler.com/topics/mutable-data-typesg-in-python/
- Mutable and Immutable in Python - https://www.scaler.com/topics/mutable-and-immutable-in-python/
- String Comparison in Python - https://www.scaler.com/topics/string-comparison-in-python/
- chr() in Python - https://www.scaler.com/topics/chr-in-python/
- ord in Python - https://www.scaler.com/topics/ord-in-python/
- Difference Between UNICODE and ASCII - https://www.scaler.com/topics/cpp/difference-between-unicode-and-ascii/
- Join in Python - https://www.scaler.com/topics/join-in-python/
- Convert List to String in Python - https://www.scaler.com/topics/convert-list-to-string-in-python/
- String Methods Python - https://www.scaler.com/topics/python/string-methods-python/
- upper() in Python - https://www.scaler.com/topics/upper-in-python/
- https://www.scaler.com/topics/title-in-python/
- String reverse in Python - https://www.scaler.com/topics/reverse-string-in-python/

## print sep

In [101]:
print(10, 20, 'hello', 'ok')
print('how are you', 'good morning')
# by default, sep=' '

10 20 hello ok
how are you good morning

In [103]:
print(10, 20, 'hello', 'ok', sep='+')
print('how are you', 'good morning')

10+20+hello+ok
how are you good morning

In [104]:
print(*range(4, 10))

4 5 6 7 8 9

In [105]:
print(*range(4, 10), sep=',')

4,5,6,7,8,9

#### Quiz 12
```py
print("Hello", "World", sep=',', end='+')
print("Foo", sep='./')
print("Bar", end=' 123')
```

In [106]:
print("Hello", "World", sep=',', end='+')
print("Foo", sep='./')
print("Bar", end=' 123')

Hello,World+Foo
Bar 123

In [ ]:
Hello,World+Foo
Bar 123

In [ ]:
# Default value of end ? = \n (new line character)

# Doubts

In [ ]:
# TypeError: 'NoneType' object is not iterable
# You are running a for-loop on a None object
# for i in l:
# l = None

In [ ]:
# What is self ?
# Answered in "Classes & Objects" (OOPS)
# Covered later on in Intermediate batch

In [ ]:
# how to know when to return and when to use print for the output?
# This should be very clearly defined in the Output format and Problem Statement
# You can also take a hint from the stub (predefined code)

In [ ]:
# New errors
# Go to Google => Stackoverflow
# ChatGPT (sometimes gives wrong answers)
# TAs

In [ ]:
10 20 30 40

In [107]:
int(input())

10 20 30

ValueError: invalid literal for int() with base 10: '10 20 30'

In [ ]:
# replace() discusses in the next session
# update at specific index - str => list , make the changes, convert it back to str
# also covered in the next lecture