# Iteration 2

## Ranges
![](https://scaler.com/topics/images/range-function-in-python.webp)

In [1]:
print(range(6))

range(0, 6)

In [2]:
print(*range(6))

0 1 2 3 4 5

In [3]:
print(list(range(6)))

[0, 1, 2, 3, 4, 5]

In [ ]:
# Square brackets and commas are actually there because of the list
# list will be covered in coming lectures

#### Quiz 1
How many numbers are included in the below range?  
`range(11)`

#### Quiz 2
```py
print(list(range(7, 8)))
```

In [4]:
print(list(range(7, 8)))

[7]

In [6]:
print(*range(2.5, 5.5))

TypeError: 'float' object cannot be interpreted as an integer

In [8]:
print(range(2, 5))

range(2, 5)

In [9]:
print(*range(2, 5))

2 3 4

In [ ]:
# * = spread operator here

#### Quiz 3
```py
print(list(range(8, 8)))
```

In [10]:
print(list(range(8, 8)))

[]

In [11]:
print(*range(3, 15, 4))

3 7 11

#### Quiz 4
How many numbers are included in the below range?  
```py
range(1, 11, 2)
```

In [12]:
print(*range(1, 11, 2))

1 3 5 7 9

In [ ]:
# start = 1
# end = 11
# jump = 2

In [ ]:
# 1, 3, 5, 7, 9

In [13]:
print(list(range(6, 2)))
# start = 6
# end = 2
# jump = 1 (by default)

[]

In [14]:
print(*range(6, 2))

In [15]:
# What if jump = 0 ?
print(list(range(6, 2, 0)))

ValueError: range() arg 3 must not be zero

# For loops
![](https://scaler.com/topics/images/for-loop-in-python.webp)

In [16]:
for i in range(1, 11, 2):
    print(i)

1
3
5
7
9

In [ ]:
# i will take all values from the range one by one

#### Quiz 5
Predict the output.
```py
for i in range(-1, 10, 2):
    print(i, end=' ')
```

In [17]:
for i in range(-1, 10, 2):
    print(i, end=' ')

-1 1 3 5 7 9

In [ ]:
# start = -1
# end = 10
# jump = 2

In [ ]:
# -1, 1, 3, 5, 7, 9

### Print all even numbers from 2 till N

In [19]:
N = int(input())

for i in range(2, N, 2):
    print(i, end=' ')

10
2 4 6 8

In [ ]:
# start = 2
# end = N
# jump = 2

In [ ]:
# It is printing all even numbers < 10 ( < N )

In [22]:
N = int(input())

for i in range(2, N+1, 2):
    print(i, end=' ')

10
2 4 6 8 10

In [ ]:
# Since we want N to be included
# And we know that range end is never included
# Adjust the end value by +1

#### Print squares of all numbers from 1 to N
```
N = 4

1, 4, 9, 16
```

In [23]:
N = int(input())

for i in range(1, N+1):
    print(i * i) # i ** 2

4
1
4
9
16

In [ ]:
# Squares of nums from 1 till 4
# [1, 2, 3, 4]
# start = 1
# end = 
# jump = 1

In [ ]:
# Python for-loops can never be infinite

In [24]:
N = int(input())

for i in range(1, N+1):
    print(i[2])

5

TypeError: 'int' object is not subscriptable

In [ ]:
# 1[2]
# 2[2]

### Decreasing Loop

In [ ]:
# Print nums from 10 to 1

In [25]:
for i in range(10, 0, -1):
    print(i, end=' ')

10 9 8 7 6 5 4 3 2 1

In [26]:
for i in range(15, -5, -4):
    print(i, end=' ')

15 11 7 3 -1

In [ ]:
# start = 15
# end = -5
# jump = -4

In [ ]:
# 15, 11, 7, 3, -1

In [27]:
for i in range(-5, -20, -3):
    print(i, end=' ')

-5 -8 -11 -14 -17

In [ ]:
# start = -5
# end = -20
# jump = -3

In [ ]:
# -5, -8, -11, -14, -17

In [ ]:
# Define a range that gives me the following numbers 
# -3, -1, 1, 3, 5, 7, 9

In [28]:
print(*range(-3, 10, 2))

-3 -1 1 3 5 7 9

In [29]:
print(*range(-3, 11, 2))

-3 -1 1 3 5 7 9

# Break statement

In [30]:
# stop, destroy a loop

In [32]:
for i in range(1, 100):
    if i == 30:
        break
    print(i, end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29

#### Quiz 6
```py
for i in range(1, 10):
    if i == 5:
        break
    print(i, end=' ')
```

In [34]:
for i in range(1, 10):
    if i == 5:
        break
    print(i, end=' ')

1 2 3 4

In [ ]:
# range(1, 10) = 1, 2, 3, 4, 5, 6, 7, 8, 9
# i = 5

In [ ]:
# Output: 1 2 3 4

<img src="https://media.giphy.com/media/dYsYG3shlTDO1S38Vg/giphy.gif" width="300px" />

In [33]:
for i in range(-5, True):
    print(i)

-5
-4
-3
-2
-1
0

In [35]:
for i in range(1, 10):
    print(i, end=' ')
    if i == 5:
        break

1 2 3 4 5

# Continue statement
<img src="https://media.giphy.com/media/l2YWxte7sJB2XuE8M/giphy.gif" width="300px" />

Skips an iteration.
Works with both for loops and while loops

In [36]:
for i in range(1, 31):
    print(i, end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30

In [37]:
# Skip all multiples of 7
for i in range(1, 31):
    if i % 7 == 0:
        continue
    print(i, end=' ')

1 2 3 4 5 6 8 9 10 11 12 13 15 16 17 18 19 20 22 23 24 25 26 27 29 30

In [ ]:
# i = 7, continue
# leave whatever is remaining in the current iteration
# next iteration, i = 8

In [ ]:
# i = 14, continue
# leave whatever is remaining in the current iteration
# next iteration, i = 15

#### Quiz 7
What is the output of the following?
```py
for i in range(0,10):
     if(i%3==0):
        continue
    print(i, end=' ')
```

In [40]:
for i in range(0, 10):
    if i % 3 == 0:
        continue
    print(i, end=' ')

1 2 4 5 7 8

In [ ]:
# range(0, 10) => 0, 1, 2, 3, 4, 5, 6, 7, 8, 9
# Skipping the multiple of 3
# 1, 2, 4, 5, 7, 8

In [ ]:
# For loops vs while loops
# for-loops have a cleaner syntax
# while loops are used when the behaviour of loop is not completely defined
# Performance - No difference

# Nested Loops

In [49]:
for j in range(3):
    print(j, end=' ')
print()

0 1 2

In [50]:
for j in range(3):
    print('*', end=' ')
print()

* * *

In [43]:
for j in range(3):
    print('*', end=' ')
print()

for j in range(3):
    print('*', end=' ')
print()

for j in range(3):
    print('*', end=' ')
print()

for j in range(3):
    print('*', end=' ')
print()

* * *
* * *
* * *
* * *

In [46]:
for i in range(4):
    for j in range(3):
        print('*', end=' ')
    print()

* * *
* * *
* * *
* * *

In [47]:
# Easier way to do above thing
for i in range(4):
    print('* '* 3)

* * *
* * *
* * *
* * *

In [54]:
for i in range(4):
    for j in range(3):
        print("{", i, ",", j, "}", end=' ')
    print()

{ 0 , 0 } { 0 , 1 } { 0 , 2 }
{ 1 , 0 } { 1 , 1 } { 1 , 2 }
{ 2 , 0 } { 2 , 1 } { 2 , 2 }
{ 3 , 0 } { 3 , 1 } { 3 , 2 }

In [53]:
for i in range(4):
    for j in range(3):
        print('*', end=' ')
    print()

* * *
* * *
* * *
* * *

In [ ]:
# Outer loop controls behaviour over the rows
# Inner loop controls behaviour over the columns

In [ ]:
# Advice
# Use i variable for outer loop
# Use j variable for inner loop

### Rectangle Pattern
Given N & M, print N * M stars

In [61]:
N = int(input()) # no of rows
M = int(input()) # no of columns

for i in range(N):
    for j in range(M):
        print('*', end=' ')
    print()

4
15
* * * * * * * * * * * * * * *
* * * * * * * * * * * * * * *
* * * * * * * * * * * * * * *
* * * * * * * * * * * * * * *

In [58]:
*****
*****
*****

SyntaxError: invalid syntax (4108505135.py, line 1)

### Staircase

In [64]:
N = int(input())

for i in range(1, N+1):
    # For every iteration, we want to print a row
    # In ith row => i stars
    for j in range(i):
        print('*', end=' ')
    
    # After printing every row, move the output to the next line
    print()

5
*
* *
* * *
* * * *
* * * * *

# Bonus Reading Material
- Range Function in Python - https://www.scaler.com/topics/range-function-in-python/
- For Loop in Python - https://www.scaler.com/topics/python/for-loop-in-python/
- Sum of First n Even Numbers - https://www.scaler.com/topics/sum-of-first-n-even-numbers/
- Sum of Digits of a Number in Python - https://www.scaler.com/topics/sum-of-digits-of-a-number-in-python/
- Sum of n Natural Numbers in Python - https://www.scaler.com/topics/sum-of-n-natural-numbers-in-python/
- Sum of First N Natural Numbers - https://www.scaler.com/topics/sum-of-n-natural-numbers/
- Break, Pass and Continue Statement in Python - https://www.scaler.com/topics/python/break-pass-and-continue-statement-in-python/
- Factorial Program in Python - https://www.scaler.com/topics/factorial-program-in-python/

In [65]:
print(5)
print(10)
print(15)
print(20)
Print(25)

5
10
15
20

NameError: name 'Print' is not defined